*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;

  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  /* Fonts */
  --ff-sans: "Raleway", sans-serif;
  --fw-bold: 700;
  --fw-base: 600;
  --fw-md: 500;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 2rem;

  /* title-lg: 48px/3rem */
  --title-lg: 1.75rem;
  --title-md: 2.5rem;
  --title-sm: 1.5rem;
  --title-xs: 1rem;

  --subtitle: 1rem;

  /* body-lg: 1.25rem/20px */
  --body-lg: 0.875rem;
  --body-md: 1rem;
  --body-sm: 0.875rem;
  --body-xs: 0.75rem;

  --btn: 0.875rem;

  --link: 0.875rem;

  --tag: 0.625rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: var(--ff-sans);
  background-color: var(--shape-background);
  color: var(--text-body);
}

strong {
  color: var(--blue-light);
}

.title {
  font-weight: var(--fw-bold);
  font-size: var(--title-lg);
  color: var(--text-title);
}
.subtitle {
  font: 500 var(--subtitle) / 1.4 var(--ff-sans);
}

.text-sm {
  font-size: var(--body-lg);
}
.pb {
  padding-block: 6.75rem;
}
.container {
  max-width: 20.9375rem;
  margin-inline: auto;
}

@media (width >= 80em) {
  :root {
    --title-lg: 3rem;
    --body-lg: 1.25rem;
    --subtitle: 2rem;
    --title-sm: 2rem;
  }
  .subtitle {
    line-height: 2;
  }
  .container {
    max-width: 90rem;
  }
}
