#hero {
  background: url(../assets/hero-background.png) no-repeat top center/250% auto;
  height: 100vh;
  animation: aparecer 1.5s linear;

  div {
    text-align: center;
    display: grid;
    gap: 1rem;
    padding-top: 7.25rem;
    max-width: 20.9375rem;
  }
}

@keyframes aparecer {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

@media (width >= 80em) {
  #hero {
    background-size: contain;
    div {
      max-width: 41rem;
      padding-top: 17.375rem;
    }
  }
}
