#pricing {
  height: 100vh;
  background-image: url(../assets/pricing-background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2 {
      font-size: var(--title-sm);
    }
  }

  .container {
    padding-bottom: 10rem;
    .content {
      overflow-x: scroll;
      margin-top: 3rem;
      padding-block: 3rem;
      display: flex;
      gap: 1rem;
      .card {
        max-width: 300px;
        min-width: 298px;
        min-height: 416px;
        /* max-height: 400px; */
        background-color: var(--shape-base);
        border: 1px solid var(--shape-stroke);
        border-radius: 1.5rem;
        padding: 2rem 2rem 1.75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: background 500ms ease-in-out, filter 500ms ease-in-out,
          transform 300ms ease-in-out;

        & section {
          width: 100%;
          max-height: fit-content;
        }

        & #primary {
          p {
            color: var(--blue-light);
            font-weight: var(--fw-bold);
          }
          p:nth-child(3) {
            font-weight: var(--fw-md);
            color: var(--text-label);
          }
          div {
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
            display: flex;
            align-items: baseline;
            font-weight: var(--fw-bold);
            color: var(--text-title);

            h2 {
              font-size: var(--title-md);
            }
            small {
              font-size: var(--title-xs);
            }
          }
        }

        & #secondary {
          display: grid;
          gap: 1.5rem;
          ul {
            display: grid;

            font-size: var(--body-xs);
            font-weight: var(--fw-md);
            list-style-position: inside;
            list-style: none;
            li {
              display: flex;
              align-items: center;
              transform: translateX(-12px);
            }
          }
          .button {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 2.5rem;
            border-radius: 0.5rem;

            background-color: var(--blue-dark);
            color: var(--text-title);
            transition: background 300ms linear;
            overflow: hidden;

            span {
              width: inherit;
              height: inherit;
              border-radius: inherit;

              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              z-index: 1;

              font-weight: var(--fw-bold);
              font-size: var(--btn);

              &:hover::before {
                scale: 1;
              }

              &::before {
                content: "";
                width: 200%;
                height: 200px;
                border-radius: 50%;
                background-color: var(--blue-mid);
                position: absolute;
                z-index: -1;
                scale: 0;
                transition: scale 600ms;
              }
            }
          }
        }
      }

      .semestral {
        position: relative;
        #logo {
          position: absolute;
          width: 45px;
          height: 50px;
          top: -50px;
        }
        #primary {
          .avengers {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .awp {
              color: var(--pink-light);
            }

            .tag {
              text-transform: uppercase;
              font-size: var(--tag);
              letter-spacing: 0.05em;
              padding: 0.5625rem 1.25rem;
              background-color: var(--shape-stroke);
              border-radius: 32px;
              color: var(--text-body);
            }
          }
        }

        #secondary {
          .button {
            background-color: var(--pink-dark);

            span {
              &::before {
                background-color: var(--pink-base);
              }
            }
          }
        }
      }

      .semestral:not(:hover) {
        background-color: var(--shape-hover);
      }

      .card:hover {
        background-color: var(--shape-hover);
        filter: drop-shadow(0 0 2.25rem rgba(53, 139, 185, 0.295));
      }
    }
  }
}

@media (width >= 80em) {
  #pricing {
    .container {
      padding: 0;
      .content {
        padding-top: 110px;
        overflow: hidden;
        justify-content: center;

        .card:nth-child(1) {
          rotate: -9deg;
        }
        .card:nth-child(2) {
          translate: 0 -50px;
          z-index: 1;
        }
        .card:nth-child(3) {
          rotate: 9deg;
        }

        .card:hover {
          transform: translateY(-8px);
          z-index: 2;
        }
      }
    }
  }
}
